.color-item{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

 
}

.color-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.color-picker{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}